@model examen.Models.Poezie
@{
    ViewBag.Title = "Creeaza poezie";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Poezie", method: FormMethod.Post))

{
    @Html.Label("Nume", "Nume poezie:")
    <br />
    @Html.TextBoxFor(b => b.Titlu , null, new { placeholder = "Introdu numele poeziei", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Titlu, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Autor", "Autor:")
    <br />
    @Html.TextBoxFor(b => b.Autor, null, new { placeholder = "Introdu prenumele", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Autor, "", new { @class = "text-danger" })
    <br />

    @Html.Label("NrStroge", "numarul de strofe:")
    <br />
    @Html.TextBoxFor(b => b.NrStrofe, null, new { placeholder = "Introdu titlul poeziei", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.NrStrofe, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Probe", "Probe:")
    <br />
    @Html.DropDownListFor(b => b.VolumId, new SelectList(Model.VolumeList, "Value", "Text"), "Alege un volum", new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.VolumId, "", new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-primary" type="submit">Create</button>
}