@model Appointments_management_system.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>
<br />

@Html.LabelFor(c => c.CNP, "CNP:", new { style = "margin-right:10px" })
@Html.DisplayFor(c => c.CNP)
<br />

@Html.LabelFor(c => c.FirstName, "First Name:", new { style = "margin-right:10px" })
@Html.DisplayFor(c => c.FirstName)
<br />

@Html.LabelFor(c => c.LastName, "Last Name:", new { style = "margin-right:10px" })
@Html.DisplayFor(c => c.LastName)
<br />

@Html.LabelFor(c => c.Email, "Email:", new { style = "margin-right:10px" })
@Html.DisplayFor(c => c.Email)
<br />
<br />

@using (Html.BeginForm(actionName: "Edit", controllerName: "Account", method: FormMethod.Get, routeValues: new { id = Model.Id }))
{
    <button style="margin-right:5px" class="btn btn-info col-lg-1" type="submit">Update</button>
}

@using (Html.BeginForm(actionName: "Delete", controllerName: "Account", method: FormMethod.Post, routeValues: new { id = Model.Id }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button style="margin-right:5px" class="btn btn-info col-lg-1" type="submit">Delete</button>
}